<header class="clear">
	<div class="container">	
		<ul class="links">
			<li>
				<a href="https://en.wikipedia.org/wiki/Fibonacci_number" title="Wiki">W</a>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Fibonacci_number" title="Github">G</a>
			</li>
		</ul>
	</div>
</header>
<style>
 header{
     height: 50px;
     background-color: #eeeeee;
 }
 .links, .links li{
 	list-style:none;
 	padding: 0;
 } 
 .links{
 	width: 120px;
 	height: 40px;
 	position: absolute;
 	right: 50px;
 }
 .links li{
 	width: 40px;
 	height: 40px;
 	float: left;
 }
</style>
