<header class="clear">
	<div class="container">
		<div class="home">
			<a rel="shortcut icon" href="https://en.wikipedia.org/wiki/Fibonacci_number">
				<img src="http://icons.iconarchive.com/icons/sykonist/popular-sites/256/Wikipedia-icon.png" alt="Wiki" class="logo">
			</a>
		</div>
		<ul class="links">
			<li>
				<a rel="shortcut icon" href="#">
					<img src="http://downloadicons.net/sites/default/files/home-home-icon-90085.png" alt="Home" class="logo">
				</a>
			</li>
			<li>
				<a rel="shortcut icon" href="https://github.com/herishbrith/Fibonacci">
					<img src="http://www.freeiconspng.com/uploads/github-logo-icon-30.png" alt="GitHub" class="logo">
				</a>
			</li>
			<li>
				<a rel="shortcut icon" href="https://linkedin.com/in/harsh-bhardwaj-a555aa39">
					<img src="http://image.flaticon.com/icons/png/512/34/34227.png" alt="Linkedin" class="logo">
				</a>
			</li>
		</ul>
	</div>
</header>
<style>
	header{

		height: 50px;
		background-color: #eeeeee;
		position: fixed;
	}
	.links, .links li{

		list-style: none;
		padding: 0;
	} 
	.links{

		width: 135px;
		height: 40px;
		position: absolute;
		right: 100px;
		top: 10px;
	}
	.links li{

		width: 40px;
		height: 40px;
		float: left;
		margin-right: 5px;
	}
	.logo{

		height: 30px;
		width: 30px;
	}
	.home{

		position: absolute;
		left: 100px;
		top: 10px;
	}
</style>
