
{% load static from static %}
<header class="clear">
	<div class="container">
		<div class="home">
			<a rel="shortcut icon" href="https://en.wikipedia.org/wiki/Fibonacci_number">
				<img src="{% static 'images/wikiLogo.png' %}" alt="Wiki" class="logo">
			</a>
		</div>
		<ul class="links">
			<li>
				<a rel="shortcut icon" href="#">
					<img src="{% static 'images/homeLogo.png' %}" alt="Home" class="logo">
				</a>
			</li>
			<li>
				<a rel="shortcut icon" href="https://github.com/herishbrith/Fibonacci">
					<img src="{% static 'images/gitLogo.png' %}" alt="GitHub" class="logo">
				</a>
			</li>
			<li>
				<a rel="shortcut icon" href="https://linkedin.com/in/harsh-bhardwaj-a555aa39">
					<img src="{% static 'images/inLogo.png' %}" alt="in" class="logo">
				</a>
			</li>
		</ul>
	</div>
</header>
<style>
	header{

		height: 50px;
		background-color: #eeeeee;
	}
	.links, .links li{

		list-style: none;
		padding: 0;
	} 
	.links{

		width: 135px;
		height: 40px;
		position: absolute;
		right: 100px;
		top: 10px;
	}
	.links li{

		width: 40px;
		height: 40px;
		float: left;
		margin-right: 5px;
	}
	.logo{

		height: 30px;
		width: 30px;
	}
	.home{

		position: absolute;
		left: 100px;
		top: 10px;
	}
</style>
